@charset 'UTF-8';

// 1. Vendors
@import
  'vendors/normalize';

// 2. Configuration and helpers
@import
  'utils/variables',
  'utils/functions',
  'utils/mixins';

// 3. Base stuff
@import
  'base/base';

// 4. Layout-related sections
@import
  'layout/header',
  'layout/footer';

// 5. Components
@import
  'components/buttons';

// 6. Page-specific styles
@import
  'pages/home';

// 7. Themes
@import
  'themes/default';
