// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@use "sass:map";

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

/// Make a context based selector a little more friendly
/// @author Kitty Giraudel
/// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}

/// Make it easy to import fonts
/// @author atpriyanshu
/// @param {String} $font-family-name
/// @param {String} $font-family-url-key

$font-family-url: ();
$font-family-url: map.set($font-family-url, 'primary', 'https://fonts.googleapis.com/css2?family={}:wght@300,regular,700&display=swap');
@mixin font-family($font-family-name, $font-family-url-key: 'primary') {
  $string: map-get($font-family-url, $font-family-url-key);

  $url-pre: str-slice($string, 0, str-index($string, '{}') - 1);
  $url-post: str-slice($string, str-index($string, '{}') + 2, -1);

  $url: $url-pre + $font-family-name + $url-post;

  @import url($url);
}
