// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// Material Colors
$red : #F44336;
$pink : #E91E63;
$purple : #9C27B0;
$indigo : #3F51B5;
$blue : #2196F3;
$cyan : #00BCD4;
$teal : #009688;
$green : #4CAF50;
$lime : #CDDC39;
$yellow : #FFEB3B;
$amber : #FFC107;
$orange : #FF9800;
$brown : #795548;

// Grayscale
$white : #FFFFFF;
$black : #000000;
$light-grey: rgb(237, 237, 237) !default;
$mid-grey: rgb(153, 153, 153) !default;
$dark-grey: rgb(68, 68, 68) !default;

/// Copy text color
/// @type Color
$text-color: $black  !default;

/// Main brand color
/// @type Color
$brand-color: $red  !default;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
  ) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https://cdn.example.com/assets/';
$base-url: '/assets/' !default;